body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: Arial, sans-serif;
}
a:hover {
    transition: color 0.3s;
    color: royalblue;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: lightgray;
    }
}

button:disabled {
    color: var(--disabled-color, gray);
}
button::before {
    content: '👉';
    margin-right: 5px;
}